{% extends "layout.html" %}

{% block title %}card de Socio{% endblock %}

{% block content %}


<div class="container mt-3"></div>
<div class="container">
  <div class="row">
    <h2>Informacion Disciplina</h2>
    <tr>
      <div class="mb-3 btn-primary">
        NOMBRE: {{ disciplina.nombre }}
      </div>
      <div class="mb-3 btn-primary">
        CATEGORIA: {{ disciplina.categoria}}
      <div class="mb-3 btn-primary">
        DIA: {{ disciplina.dias }}
      </div>
      <div class="mb-3 btn-primary">
        HORARIO: {{ disciplina.horario }}
      </div>
      <div class="mb-3 btn-primary">
        COSTO: {{ disciplina.costo_mensual }}
      </div>
      <div class="mb-3 btn-primary">
        INSTRUCTUCTORES: {{ disciplina.instructores }}
      </div>
    </tr>
  </div>
</div>
</div>
{% endblock %}
