{% extends "layout.html" %}

{% block title %}Registro de Socio{% endblock %}

{% block content %}
    {% if error %}
    <p style="color: red;"><strong>Error:</strong> {{ error }}
    {% endif %}
    <div class="container mt-3">
        <div class="container">
            <div class="row">

        <h2>Alta de Socio</h2>
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="mb-3 mt-3">
            {{ form.nombre.label (class="form-label")}}:
            {{ form.nombre (class="form-control", placeholder="Ingrese nombre") }}
        </div>

        <div class="mb-3 mt-3">
            {{ form.apellido.label (class="form-label")}}:
            {{ form.apellido (class="form-control", placeholder="Ingrese apellido") }}
        </div>

        <div class="mb-3 mt-3">
            {{ form.tipo_documento.label (class="form-label")}}:
            {{ form.tipo_documento (class="form-control", placeholder="Ingrese tipo de documento") }}
        </div>

         <div class="mb-3 mt-3">
            {{ form.documento.label (class="form-label")}}:
            {{ form.documento (class="form-control", placeholder="Ingrese documento") }}
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="mb-3 mt-3">
            {{ form.genero.label (class="form-label")}}:
            {{ form.genero (class="form-control", placeholder="Ingrese genero") }}
        </div>

        <div class="mb-3 mt-3">
            {{ form.direccion.label (class="form-label")}}:
            {{ form.direccion (class="form-control", placeholder="Ingrese dirección") }}
        </div>

        <div class="mb-3 mt-3">
            {{ form.telefono.label (class="form-label")}}:
            {{ form.telefono (class="form-control", placeholder="Ingrese teléfono (opcional)") }}
        </div>

        <div class="mb-3 mt-3">
            {{ form.email.label (class="form-label")}}:
            {{ form.email (class="form-control", placeholder="Ingrese email (opcional)") }}
        </div>

        <br>
        {{ form.submit() }}
        <button type="submit" class="botonAceptar btn btn-primary">{{ form.submit() }}</button>
        <a href="{{ url_for('socios.index') }}"><button type="button" class="botonEliminar btn btn-primary">cancelar</button></a>
    </form>
    </div>

{% endblock %}